<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Recommendation System</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css')}}">



</head>

<body>

    

    <!-- For animated background -->

    <div class="area" >

                <ul class="circles">

                        <li></li>

                        <li></li>

                        <li></li>

                        <li></li>

                        <li></li>

                        <li></li>

                        <li></li>

                        <li></li>

                        <li></li>

                        <li></li>

                </ul>

    </div >



    <div class="heading"><h1>Recommendation System</h1></div>

    <div class="container">

        <button id="movie" onclick="window.location.href = '/movies';">Movie Recommendations</button>

        <button id="book" onclick="window.location.href = '/books';">Book Recommendations</button>

    </div>

</body>

</html>