<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="popup">
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>
            {{ message }} <button id="close" style="text-align: right;">X</button>
        </p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    
    </div>
    <h3>Welcome to Movies Recommendation</h3>
    <form method="post" action="{{ url_for('movies') }}">

        <label for="genres">Genres: </label>
        <input type="text" id="genres" name="genres"/> <br>
        <input type="radio" name="opt" id="opt1" value="top5"> 
        <label for="opt1">Top 5 Recommendations</label>
        &emsp;
        <input type="radio" name="opt" id="opt2" value="random5">
        <label for="opt2">Random Recommendations</label>
        <br>

        <button type="submit">Submit</button>

    </form>
    {% if recs %}
    <h3> Recommendations: </h3>
    <ol>
        {% for rec in recs %}
        <li> {{ rec }} </li>
        {% endfor %}
    {% endif %}
    </ol>
    <br>
    <br>
    <br>
    <form method='post' action="{{ url_for('movies_name') }} ">
        <label for="user_input"> Enter Movie Name: </label>
        <textarea name="user_input" id="user_input" cols="30" rows="1" placeholder="Movie Name...." wrap="off"></textarea>
        <br>
        <input type="radio" name="opt" id="opt1" value="top5"> 
        <label for="opt1">Top 5 Recommendations</label>
        &emsp;
        <input type="radio" name="opt" id="opt2" value="random5">
        <label for="opt2">Random Recommendations</label>
        <br>
        <button type="submit">Submit</button><br>
    </form>
    <div id="display">

    </div>

    <script type="text/javascript">
        var list = new Array();
        var text_box = document.querySelector('#user_input');
        var display = document.querySelector('#display');
        console.log('running');
        `{% for item in movies_list %}`
        list.push(`{{item}}`);
        `{% endfor %}`
    </script>
    <script src="{{ url_for('static', filename='js/index.js') }}">

    </script>
</body>
</html>